<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

    <div class="input-prepend">
      <div class="label-wrapper">
	<span class="add-on">Email</span>
      </div>
      <div class="input-wrapper">
	<%= f.email_field :email, :autofocus => true, :class => "input-large" %>
      </div>
    </div>

    <div class="input-prepend">
      <div class="label-wrapper">
	<span class="add-on">Password</span>
      </div>
      <div class="input-wrapper">
	<%= f.password_field :password, :class => "input-large" %>
      </div>
    </div>

    <div class="input-prepend">
      <div class="label-wrapper">
	<span class="add-on">Confirmation</span>
      </div>
      <div class="input-wrapper">
	<%= f.password_field :password_confirmation, :class=> "input-large" %>
      </div>
    </div>

    <%= f.submit "Sign up", :class => 'btn btn-primary'%>
<% end %>