<%= provide(:pagetitle, @group.name) %>
<div class="row">
  <span class="span12">
  <% if @group.member?(current_user) %>
    <%= link_to "edit", edit_group_path(@group) %>|
    <%= link_to "leave", leave_group_path(@group), :method => :post %>
  <% else %>
    <%= link_to "join", join_group_path(@group), :method => :post %>
  <% end %>
  </span>
</div>
<div class="row">
  <% if @group.description %>
    <div class="span12">
      <div class="well">
        <h2>Description</h2>
        <p><%= @group.description %></p>
      </div>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="span6">
    <div class="well">
      <h2>Members</h2>
      <ul class="members">
        <%= render @group.users %>
      </ul>
    </div>
    <div class="well">
      <h2>Add a Cost</h2>
      <%= form_for(@cost) do |f| %>
        <%= render 'costs/fields', :f => f %>
        <%= f.submit "Add Cost", :class => "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <div class="span6">
    <div class="well">
      <h2>History</h2>
      <ul class="history">
        <%= render @group.costs %>
      </ul>
    </div>
  </div>
</div>
