<div class="row">
  <div class="span3">
    <%= image_tag "https://graph.facebook.com/#{@user.uid}/picture?type=large", :class => "profile-pic"%>
    <div class="name" >
      <h2><%=@user.name%></h2>
      <p class="lead total"><%= debt_total @user %></p>
      <div class="exchanges">
        <%= render 'transactions/mini_form' %>
      </div>
    </div>
  </div>
  <div class="span9">
    <div id="user-summary" data-id="<%=@user.id%>">
      <%= render 'users/summary' %>
    </div>
  </div>
</div>
