<h1><%= @user.name %></h1>
<div class="row">
  <div class="span6">
    <div class="well">
      <h2>Debts</h2>
      <span><%= render "users/debt", :user => @user %></span>
    </div>
    <div class="well">
      <h2>Make a Payment</h2>
      <%= form_for(@payment) do |f| %>
        <%= render 'payments/fields', :f => f %>
        <%= f.submit "Make Payment", :class => "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <div class="span6">
    <div class="well">
      <h2>History</h2>
      <ul class="history">
        <%= render @user.history(current_user)%>
      </ul>
    </div>
  </div>
</div>
