<div class="field">
  <%= f.label :description %><br />
  <%= f.text_field :description %><br />
</div>
<div class="field">
  <%= f.label :amount, "Amount $" %><br />
  <%= f.text_field :amount %><br />
</div>
<div><%= f.hidden_field :group_id %></div>
