<%= provide(:pagetitle, "Home") %>
<div class="row">
  <div class="span6">
    <div class="well">
      <h2>My Debts</h2>
      <p><%= total_debt(@user) %></p>
      <ul>
        <% @user.debts.each do |debt| %>
          <li>
            <%= render 'users/debt', :user => debt %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="span6">
    <div class="well">
      <h2>My Groups</h2>
      <%= form_for Group.new, :class => "form-inline" do |f| %>
        <div class="input-append">
          <%= f.text_field :name, :placeholder => "Create new group" %>
          <%= content_tag :button, :type => :submit, :class => "btn btn-primary" do %>
             <i class="icon-plus"></i>
          <% end %>
        </div>
      <% end %>
      <ul>
        <%= render @user.groups %>
      </ul>
    </div>
  </div>
</div>
