<div class="span-6 prepend-2 append-2">
  <%= f.label :description %><br />
  <%= f.text_field :description, :size => 28 %><br />
</div>
<div class="span-2 prepend-2">
  <%= f.label :amount, "Amount $" %><br />
  <%= f.text_field :amount, :size => 4 %><br />
</div>
<div><%= f.hidden_field :to_id %></div>
